#page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 19px; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}

.container .card {
    flex: 1 1 32%; 
    margin: 5px; 
    max-width: calc(32% - 10px); /
}

@media (max-width: 1200px) {
    .container .card {
        flex: 1 1 calc(48% - 10px); 
        max-width: calc(48% - 10px);
    }
}

@media (max-width: 800px) {
    .container {
        display: flex;
        justify-content: center; 
        align-items: center;   
    }

    .container .card {
        flex: none;           
        width: 100%;            
        max-width: 400px;      
        margin: 0 auto;       
    }
}



.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 50px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}   
.container .card {
    position: relative;
    cursor: pointer;
    border-radius: 50px; 
    overflow: hidden; 
}
.container .card .face.face1{
    border-radius: 50px;
    position: relative;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background-color: #0078D4;
    transform: translateY(0);
    box-shadow: 0 0 0 rgb(0, 0, 0, 0);
  
}
.container .card:hover .face.face1 .content .heading{
   color: white;
  
}


.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
    color: white; 
}




.container .card:hover .face.face1 .content{
    opacity: 1;
    color: #fff;
    
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #0078D4; 
    text-align: center;
    font-size: 1.5em;
}


.container .card .face.face2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 300px;
    box-sizing: border-box;
    transform: translateY(-100px);
    letter-spacing: 0.1em;
    word-spacing: 1px;
    opacity: 0;
    border: 1px solid black;
    
}

.container .card:hover .face.face2{
    transform: translateY(5px);
    height: 250px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    height: 300px;
    letter-spacing: 0.1em;
    word-spacing: 1px;
    opacity: 1;
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: black;
    padding: 5px;
    
}

.container .card .face.face2 .content a:hover{
    background: #ffffff;
    color: #fff;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
