@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  height: 100%;
  margin: 0;
  margin-bottom: 30px;
  background: radial-gradient(#02467a, #030142);
  overflow-x: hidden;
  margin: 0;
}

.center h1 {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 80px;
  font-weight: 600;
  font-size: 4.5rem;
  text-align: center;
}

.left h1 {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 3.6rem;
  text-align: justify;
}

.left h4 {
  color: rgb(226, 222, 222);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: right;
}

.left h5 {
  color: #e6e3e3;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: right;
  padding-bottom: 20px;
}

.justify p {
  color: #fff;
  font-size: 1.3rem;
  text-align: justify;
  padding-bottom: 25px;
}

.justify img {
  width: 100%;
  padding-bottom: 20px;
}

main {
  margin-left: 15%;
  margin-right: 15%;
}

.blogs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  display: flex;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  margin-bottom: 80px;
  transition: all 0.38s ease;
  width: 100%;
}

.card:hover {
  transform: translateY(+2px);
  cursor: pointer;
}

.card * {
  color: white;
}

.card img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.card div {
  background-color: #131018;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card:hover div {
  background-color: #0b0d30;
}

.card:hover img {
  opacity: 93%;
}

.card-odd img {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.card-even img {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card-odd div {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.card-even div {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.card div h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.card div h4 {
  padding-bottom: 30px;
}

header {
  padding-right: 3%;
  padding-left: 2%;
}

@media (max-width: 1240px) {
  .main {
    margin: 0;
    padding: 0;
  }

  .card-odd {
    flex-direction: column;
  }

  .card-even {
    flex-direction: column-reverse;
  }

  .card div {
    padding: 25px;
  }

  .card-odd img {
    border-radius: 0;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }

  .card-even img {
    border-radius: 0;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }

  .card-odd div {
    border-radius: 0;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  .card-even div {
    border-radius: 0;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  .left h1 {
    font-size: 2rem;
  }

  .left h4 {
    font-size: 1rem;
  }

  .justify p {
    font-size: 1rem;
    text-align: justify;
  }
}
