*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width:998px){
    html{
        font-size: 55%;
    }

}


@media (max-width:768px){
    html{
        font-size: 45%;
        background-image:55%;
    }

    header{
        float: right;
    }
}

body{
    padding: 0;
    margin: 0;
}

 img{
    float: left;
    width: 12.5rem;
    height:12.5rem;
}

#clock{
    word-spacing:0.2rem;
    font-family: cursive;
    color: #000000;
    width:130rem;
    font-size:2.125rem;
    border-radius:0.75rem;
    height:21.875rem;
    margin-right: 18.75rem;
    margin-left: 18.75rem;
    box-shadow:0 0 6.25rem rgb(0, 0, 0);
    background-image:url(event_wala_.png),
    linear-gradient(to right,rgb(39, 39, 39),rgb(255, 255, 255) );
  background-repeat: repeat,  no-repeat,no-repeat;
  background-position:
    top right,
    left,
  right; 
}


.container{
    padding:0;
    margin: auto;
    overflow: hidden;
}
header{
    z-index: 7;
opacity: 0.9;
    height:auto;
    width: 100%;
    background-image: linear-gradient(to right,#37B7C3, #134B70);
    box-shadow:0 0 6.25rem rgb(0, 0, 0);
    border-radius: 1.25rem;
}

header a{
    font-size: 1.875rem;
    font-weight: 800;
    color:white;
    text-decoration: none;
}

 ul{
    column-gap: 6rem;

 display:flex;
padding-top: 6.25rem;
}
 
.brick{
    float: left;
}

nav{
    list-style-type: none;
    text-decoration:none;
   display: flex;
   float: right;
   position:relative ;
}

li img{
    font-size: 0.75rem;
    height:2.5rem;
    width:2.5rem;
}
 li{
    list-style-type: none;
  font-family:sans-serif;
}

 header a:hover{
    text-decoration: underline;
    border-radius: 1.25rem;
    color:#0078D4;
}

 .footer p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.875rem;
}

 .first , .second , .third p{
    font-weight: 300;
    font-family:sans-serif;
        font-size: 2.5rem;
    }



 .box{
    width: 100%;
    height:auto;
padding-top: 15rem;
padding-bottom: 15rem;
padding-left:1rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(15rem,1fr));
   grid-row-gap:6.25rem;
mix-blend-mode: multiply;
   background-image:url(background.png),
  linear-gradient( to right,#182539,rgb(1, 77, 159));
 background-repeat: no-repeat, no-repeat, no-repeat;
 background-position:
   bottom right,
   left,
   right;

}

.content{
    justify-content: space-evenly;
 display: grid;
 padding-right: 70rem;
 display: block;
}



.content  h2{
    font-family:fantasy;
  color: black;
    font-size: 3rem;
    letter-spacing: 0.25rem;
}



#phela{
    font-size: 3rem;
padding-left: 8rem;
}

.first{
    background-image:linear-gradient(to bottom ,rgba(49, 48, 48, 0.6),rgb(255, 255, 255));
      border-radius: 1.25rem;
      width: 25rem;
      height: 25rem;
      box-shadow: 0 0.25rem 0.5rem 0 rgb(0, 0, 0), 0 0.375rem 1.25rem 0 rgb(0, 0, 0);
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content:space-between;
  
  }
  
  .one{
    padding-top: 1rem;
      position: relative;
      width:46.875rem;
      height: 25rem;
      text-align: center;
      transition: transform 1s;
      transform-style: preserve-3d;
      align-items: center;
      justify-content: center;
  }
  .content:hover .one {
      transform: rotateY(180deg);
  }
  
  .first,
  .first_image{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  
  .first_image{
    background-repeat: no-repeat;
      object-fit: cover;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);
     border-radius: 1.25rem;
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  }
  
  .second{
  border-radius: 1.25rem;
  background-image:linear-gradient(to top ,rgba(81, 80, 80, 0.6),rgb(255, 255, 255));
  background-color: rgb(221, 220, 220);
  height: 15.625rem ;
      width: 15.625rem;
      box-shadow: 0 0.25rem 0.5rem 0 rgb(0, 0, 0), 0 0.375rem 1.25rem 0 rgb(0, 0, 0);
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .two{
    width:31.25rem;
    height: 31.25rem;
      position: relative;
      text-align: center;
      transition: transform 1s;
      transform-style: preserve-3d;
  }
  .content:hover .two{
      transform: rotateY(180deg);
  }
  
  .second,
  .second_image{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }

  .second_image{
    background-repeat: no-repeat;
    /* background-image: url(second_image.jpg); */
   object-fit: cover;
      background-color:rgb(255, 255, 255);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
      border-radius:1.25rem;
  }
  .third{
  border-radius: 1.25rem;
  background-image:linear-gradient(to bottom ,rgba(81, 80, 80, 0.6),rgb(255, 255, 255));
  background-color: rgb(221, 220, 220);

  width: 15.625rem;
  height: 15.625rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgb(0, 0, 0), 0 0.375rem 1.25rem 0 rgb(0, 0, 0);
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .content:hover .three{
      transform: rotateY(180deg);
  }
  .third,
  .third_image {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  .three{
      position: relative;
      width: 31.25rem;
      height: 31.25rem;
      text-align: center;
      transition: transform 1s;
      transform-style: preserve-3d;
  }
  
  .third_image{
    background-repeat: no-repeat;
    /* background-image: url(third_image.jpeg) ; */
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg);
      border-radius: 1.25rem;
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
  }


  .content img{
    width: 31.25rem;
    height: 31.25rem;
  }

  .first_image img{
    width: 850px;
  }

  .footer img{
    z-index: -5;
    height: 25rem;
    width: 25rem;
 }

  .footer{
    box-shadow: inset 0 0.375rem 0.938rem 0.063rem rgb(0,0,0,1.2);
    overflow: hidden;
   width: auto;
    padding: 6.25rem 15%;
    background-image:linear-gradient(to right,#1E375E, #0078D4 );
  color: rgb(0, 0, 0);
  background-image:url(bubbles\ \(1\).png),
  linear-gradient(to right, #1E375E, #0078D4,rgb(127, 246, 255) );
background-repeat: repeat,  no-repeat,no-repeat;
background-position:
  bottom left,
  right,
left; 
box-shadow:0 0 1.25rem blue;



  }

  .footer div{
    text-align: center;
  }

   h3{
    font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

h3:hover{
    color:#8C3061;
}

.col-1 a{
    font-size: 1.813rem;
    color: black;
     display: block;
     text-decoration: none;
     margin-bottom: 0.625rem;
}

.footer a{
    color: deepskyblue;
}

.col-1{
    float: left;
}