
.work {
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.4rem;
	/* position: absolute; */
	/* margin: 10px 0px; */

	/* top: 10%; */
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin-bottom: 20px;
	/* padding: 0px 6vw; */

}

.work a img {
	height: 88px;
	filter: brightness(3.5);
	/* padding: 0px 14px; */
}

.work a {
	display: flex;
	align-items: center;
	transition: all .4s ease-in;
	color: white;
	text-decoration: none;
}

.work a:hover {
	color: #20c4dd;
	cursor: pointer;
}

.team-area {


	/* border: 2px solid red; */
	/* display: flex */

	height: 136vh;

	/* min-height: 100vh; */
	color: #fff;
	/* position: relative; */
	background: linear-gradient(135deg, #0d1b2a, #1b263b, #415a77);
}

.projects {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.box {
	position: relative;
	margin: 20px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);



	max-width: 400px;
	transition: transform 0.3s ease;
	filter: grayscale();
}

.box img {
	width: 100%;
	display: block;
	border-radius: 10px;
	transition: transform 4s ease;
}

.box:hover {
	transform: scale(1.05);
	transform: rotate(20deg);
	filter: none;
}

.box1:hover {
	transform: scale(1.05);
	transform: rotate(-20deg);
	filter: none;

}

.box figcaption {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 20px;
	text-align: center;
	background: rgba(255, 23, 112, 0.7);
	transform: translateY(100%);
	transition: transform 0.5s ease;
	border-radius: 100px 100px 0 0;
}

.box:hover figcaption {
	transform: translateY(0);
}

.box h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Bebas Neue", sans-serif;
	margin: 0;
}

.box p {
	font-size: 14px;
}

.socials {
	margin-top: 10px;
}

.socials i {
	font-size: 18px;
	margin: 0 10px;
}

/* @media(max-width: 800px) {
	.container > .team-area {
		flex-direction: column;
	}
}
@media(max-width: 600px) {
	.projects .box h2 {
		font-size: 20px;
	}
} */



/* footer section */

.footer-section {
	height: 45vh;
	/* width: 100%; */
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 0px 20px;
}

.footer-section-1 {
	box-shadow: inset 0 6px 15px 1px rgba(0, 0, 0, 0.3);

}

.logo-name-tagline h1 {
	font-size: 1.7rem;
}

.uppr-section {
	width: 100%;
	height: 35vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo-name-tagline {
	width: 30%;
	height: 30vh;
	padding: 20px 0px;
	text-align: center;
	margin: 12px;
	color: white;
	padding: 0px 10px;
}

.logo-name-tagline img {
	height: 110px;
}
.uppr-section{
	height: 44vh;
}

.usefull-links {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;

	text-decoration: none;
	color: white;
}

.usefull-links a {
	padding: 3px;

}

.usefull-links a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.Contact-details {
	width: 30%;
	padding: 20px 15px;


	text-align: center;
	color: white;
}

.All-social-handles {
	margin: 15px 0px;
}

.divider {
	height: 1px;
	/* Thin line */
	background-color: #5897e093;
	/* Line color */
	margin: 20px auto;
	/* Space around the line */
	width: 94%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.nav-right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-left: -32px;
	/*ul and li have default border margin of 1 rem that why i overwrite it */
}

.nav-right-logo {
	margin: 0px 10px;
}


.invert1 {
	filter: invert(1);
}


.copyright-section {
	text-align: center;
	color: rgb(255, 255, 255);
}




/* project section all styles */



/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
	}
	*/
.container {
	
	/* max-width: 1200px; */
	/* background-color: #0A0D22; */


	background: linear-gradient(135deg, #0c1224, #10182f);
	/* max-width: 1400px; */
	margin: auto;
	height: 100vh;
	padding: 37px;
}

header h1 {
	font-size: 2em;
	color: #FFFFFF;
	text-align: left;
	margin-bottom: 20px;
}

main {
	display: flex;
	gap: 50px;
}

.container{
	border-radius: 8px;
}

.project-list {
	flex: 1;
}

.project-item {
	display: flex;
	align-items: center;
	background-color: #1A1D33;
	border-radius: 8px;
	/* padding: 10px; */
	margin-bottom: 10px;
	cursor: pointer;
	transition: transform 0.2s;
	font-size: 30px;
	padding: 30px 10px;
	height: 12vh;
}

.project-item:hover {
	transform: scale(1.02);

}

.active {
	background-color: #2c345c;
	background: linear-gradient(270deg, #ff6ec7, #9b5fe0, #16d9e3, #5efc82, #f9f871);
	background-size: 400% 400%;
	animation: borderAnimation 5s infinite linear;
}

@keyframes borderAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.project-item .icon {
	font-size: 2em;
	margin-right: 10px;
}

.project-item .info {
	display: flex;
	flex-direction: column;
}

.project-item .active {
	background: black;
}

.project-item h2 {
	margin: 0;
	font-size: 1.2em;
}

.status {
	font-size: 0.9em;
	padding: 2px 8px;
	border-radius: 4px;
}

.status.ongoing {
	background-color: #FFD700;
	color: #0A0D22;
	width: 100%;
<<<<<<< HEAD
}

.status.completed {
	background-color: #32CD32;
	color: #FFFFFF;
	width: 100%;
}

.status.upcoming {
	background-color: #1a3249;
	color: #FFFFFF;
}

.project-item h2 {
	font-size: 1.7rem;
	letter-spacing: 2px;
}

.project-description {
	flex: 2;
	background-color: #1A1D33;
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .status.completed {
    background-color: #32CD32;
    color: #FFFFFF;
	width: 100%;
  }
  
  .status.upcoming {
    background-color: #1a3249;
    color: #FFFFFF;
  }
  
  .project-description {
    flex: 2;
    background-color: #1A1D33;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 10px;
	overflow: auto;
	max-height: 61vh;
}

.project-description img {
	max-width: 100%;
	border-radius: 8px;
	margin-bottom: 10px;
}

.project-description p {
	font-size: 1.5em;
	margin-bottom: 50px;
	padding: 10px 50px;
	color: white;
	/* text-align: center; */
}

.info{
	color: white;
}

/* ----------------------------for scrollbar------------------------------------- */

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #1A1D33;
	/* Track color */
}

::-webkit-scrollbar-thumb {
	background: #2d3258;
	/* Thumb color */
	border-radius: 6px;
	/* Rounded corners */
}

/* <<<<<<< HEAD */
::-webkit-scrollbar-thumb:hover {
	background: #2d3258;
	/* Darker when hovered */
}



.burger {
	display: none;
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 20px
}

.line {
	width: 31px;
	background-color: white;
	height: 3px;
	margin: 4px 4px;
}


/* respnsiveness */


@media (max-width: 1500px) {
	.container {
		/* margin: 0 20px; */
	}

	.status.ongoing {

		width: 60%;
	}

}

@media (max-width: 1200px) {
	.container {
		padding: 0;
		margin-bottom: 9%;
	}

	.project-description{
		height: 10vh;
	}


	main {
		display: flex;
		flex-direction: column;
	}

	.status.completed {

		width: 90%;
	}

	.project-item h2 {
		font-size: 31px;
	}

	.status.upcoming {
		width: 75%;
	}

	.project-description p {
		font-size: 21px;
		padding: 0;
	}

	.footer-section-1{
		/* margin: 55vh 0px 0px 0px; */
	}

	.project-list{
		padding: 0px 14px;
	}

	.project-description{
		margin: 0px 14px;
	}

	.usefull-links h1{
		font-size: 1.7rem;
	}

	.Contact-details h1{
		font-size: 1.7rem;

	}
	.usefull-links{
		
		padding: 32px 10px;
	}
}







/* nav-bar responsive */
@media (max-width: 1066px) {

	.container{
		min-height: 140vh;
	}

	.nav-items {
		flex-direction: column;
	}

	.navbar-container {
		flex-direction: column;
	}

	.nav-items li a {
		margin: 10px 0px;
	}


	.logo {
		margin: 11px;
	}

	.navbar-container{
		height: 445px;

	}

	.nav-items li {
		margin-left: 0px;
	}


	.burger {
		display: block;
	}

	.h-nav {
		height: 70px;
		/* background-color: black; */
	}


	.v-class {
		visibility: collapse;
		/* opacity: 0; */
	}

	.navbar-container{
		transition: all .7s ease-in-out;
	}

	.uppr-section{
		flex-direction: column;
		align-items: center;
	}

	.logo-name-tagline{
		width: 70%;
		text-align: center;

	}

	.usefull-links{
		width: 70%;
		/* padding: 15px 10px; */
		text-align: center;

	}

	.Contact-details{
		width: 70%;
		padding: 0px 15px;
		text-align: center;
	}

	.Contact-details h1{
		margin: 0px;
	}

	.divider{
		/* margin-top: 67vh; */
		visibility: collapse;
	}

	.footer-section-2{
		visibility: collapse;
	}

	.project-description p{
		text-align: justify;
	}


}

  ::-webkit-scrollbar-thumb:hover {
	background: #2d3258; /* Darker when hovered */
  }


  @media (max-width: 1500px ){
  .container{
	/* margin: 0 10px; */
  }
  .status.ongoing {
    
	width: 60%;
  }
  
  }

  @media (max-width: 530px){
	.container{
		padding: 0;
		height: 154vh;

	}

	.work a img {
		height: 62px;
	}	


	.work a h1{

		font-size: 1.8rem;
	}
	main{
		display: flex;
		flex-direction: column;
	}
	.status.completed {
		
		width: 90%;
	  }
	  .project-item h2{
		font-size: 31px;
	  }
	  .status.upcoming {
		width: 75%;
	  }
	  .project-description p{
		font-size: 21px;
		padding: 0;
	  }
	}

/* 
	@media (min-width: 700px) and (max-width:1200px) and (max-height:1200px) and (min-height:1000){


	}
	   */
  
/* >>>>>>> 25140248feba7f154d4ce53a9703bbe5cc409c92 */
