@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #0078d4;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 2px 0;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.header_logo {
  font-weight: 800;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 70px;
  font-weight: 800;
}

.nav_item {
  margin: 0 8px;
}

.nav_link {
  color: #0078d4;
}

.nav_link:hover {
  color: #000;
}

.nav {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}

.sidebar li {
  width: 100%;
  line-height: 50px;
  padding-left: 20px;
  font-weight: 700;
}

.sidebar a {
  width: 100%;
}

.sidebar-icon {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 15px;
  z-index: 1000;
}

@media (max-width: 800px) {
  .nav_list {
    display: none;
  }

  .sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  align-items: center;
  width: 100%;
  position: relative;
}

#page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 90px;
  font-weight: 900;
  position: relative;
}

#page1 h1::before {
  content: "MICROSOFT STUDENT CHAPTER";
  position: absolute;
  color: #203a61;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 2px #c8e6fc;
  z-index: -1;
}

#page1 h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 20px;
  font-weight: 450;
  width: 50%;
}

#page2 {
  height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scrollerin {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 30s linear infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 1000;
  margin-right: 10px;
  transition: color 0.4s linear;
  color: black;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

#scroller h4:hover {
  color: #0078d4;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#page3 {
  width: 100%;
  height: 130vh;
}

.page3 h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 7vw;
}

.page3 h2 {
  margin-bottom: 100px;
}

#member {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: black;
}

#about {
  align-items: center;
  gap: 50px;
  color: #fff;
  padding: 10vw;
  width: 100%;
  background-color: black;
}

#textabout {
  width: 25rem;
}

#textabout h5 {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 10px;
}

#textabout p {
  line-height: 1.7;
  margin-bottom: 30px;
}

#about img {
  width: 200px;
  border-radius: 100px;
}

#textabout a {
  padding: 12px 22px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

/* #footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #1E375E, #0078D4);
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 150px;
    padding: 0 100px;
}

#footer h6 {
    position: absolute;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img {
    height: 150px;
}

#f1, #f2, #f3, #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
}

#f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 8px;
}

#f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    margin-bottom: 8px;
}

#f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
}

#f4 h6 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
    font-size: 15px;
    font-family: Lobster;
} */

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (max-width: 800px) {
  .nav_list {
    display: none;
  }

  .sidebar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  header {
    flex-direction: column;
    padding: 10px;
  }

  .logo img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .nav_list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }

  #page1 h1 {
    font-size: 50px;
  }

  #page1 p {
    font-size: 16px;
    width: 90%;
  }

  #page2 h2 {
    font-size: 24px;
  }

  #scroller h4 {
    font-size: 60px;
  }

  .page3 h1 {
    font-size: 5vw;
  }

  .page3 h2 {
    margin-bottom: 50px;
  }

  #about {
    padding: 5vw;
  }

  #textabout {
    width: 100%;
  }

  #textabout a {
    padding: 10px 20px;
    font-size: 10px;
  }

  /* #footer {
        flex-direction: column;
        padding: 20px;
    }

    #footer h6 {
        font-size: 14px;
    }

    #f1 img, #f2 img, #f3 img, #f4 img {
        height: 100px;
    } */
}

/* FOOTER */
#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #1e375e, #0078d4);
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 150px;
  padding: 0 100px;
}
#footer h6 {
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

#footer img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 150px;
  position: relative;
}
#f1,
#f2#f3#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
#f4 h6 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;
  font-size: 15px;
  font-family: Lobster;
}

@media (max-width: 800px) {
  #footer {
    gap: 20px;
    padding: 0 20px;
  }

  #f1 img {
    height: 80px;
  }

  #f2 .wrapper {
    gap: 10px;
  }

  #f3 {
    position: static;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  #f4 {
    position: static;
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  #footer {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  #f1 {
    display: none;
  }

  #f2,
  #f3 {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }

  #f2 {
    text-align: left;
  }

  #f2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #f2 .icon {
    margin: 5px 0;
    height: 30px;
    width: 30px;
  }

  #f3 {
    text-align: right;
  }

  #f4 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  #f4 h6 {
    display: none;
  }
}
